*,
* ::before,
* ::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Itim', Arial, sans-serif;
  text-align: center;
  max-width: 90%;
  margin-inline: auto;
}

body {
  font-size: 60px;
  background: url('./Assets/money-background.png');
  background-color: #195678;
  z-index: 1;
  position: relative;
}

body .appBlurred{
  background-image: url('./Assets/money-backgroundBlur.png');
  background-color: #195678;
  filter: blur(5px);
  z-index: 1000;
}

