.body {
	font-family: 'Itim', Arial, sans-serif;
	text-align: center;
	margin: 200px;
	background-color: #195678;
}

#container img {
	width: auto;
	height: auto;
	object-fit: cover;
	position: absolute;
	bottom: 3cm;
	font-size: 25px;
}

/*Denmark flag*/
#container img:nth-child(1) {
	right: 10cm;
	border-radius: 10px;
}

/*Engeland flag*/
#container img:nth-child(2) {
	right: 5cm;
	border-radius: 10px;
}

/*Holland flag*/
#container img:nth-child(3) {
	right: 7.5cm;
	border-radius: 5px;
}

.button {
	border-radius: 30px;
	width: 6cm;
	padding: 30px;
	font-size: 25px;
	margin: 90px;
	cursor: zoom-in;
	background-color: #195678;
	color: #F9E513;
	border-color: antiquewhite;
	font-family: 'Itim', Arial, sans-serif;
}

.button:hover {
	background-color: #5E676D;
	font-weight: bold;
}

.Qbutton {
	position: absolute;
	top: 4cm;
	right: 7cm;
	width: 2cm;
	height: 2cm;
	border-radius: 16px;
	padding: 16px;
	font-size: 40px;
	margin: 10px;
	background-color: #195678;
	color: #F9E513;
	border-color: white;
	font-family: 'Itim', Arial, sans-serif;
}

.Qbutton:hover {
	background-color: #5E676D;
	font-weight: bold;
}

.content {
	padding: 30px;
	color: antiquewhite;

}

.yes {
	font-weight: bold;
	color: white;
}