*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(103, 92, 255);
    background-size: 100% 50%;
}

img{
    max-width: 100px;
    margin: 25px;
    border-radius: 8px;
}

.container{
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: black;
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-around;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    margin: 30px 0;
    font-weight: 500;
}

button{
    background-color: goldenrod;
    border: none;
    outline: none;
    color: black;
    padding: 15px;
    letter-spacing: 1px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
button:hover{
    background-color: gold;
}

.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
