body{
    background-color: #195678;
    font-family: itim;
    color: #F9E513;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.input, select{
    position: absolute;
    left: 50%;
    font-size: 36px;
    font-family: itim;
    border-radius: 10px;
    border: 3px solid white;
    width: 400px;
}

select{
    width: 410px;
    cursor: pointer;
}

.gamepin{
    margin-top: 8%;
}

label{
    position: absolute;
    left: 600px;
    font-size: 48px;
}

.button{
    border: 3px solid white;
    background-color: #195678;
    width: auto;
    height: 80px;
    /* text-align: center;
    vertical-align: middle; */
    line-height: 35px;
    color: #F9E513;
    border-radius: 10px;
    font-size: 42px;
    font-family: itim;
    padding: 20px;
    margin: 20px ;
    cursor: pointer;
}

.button:hover{
    background-color: #3f6072;
}
