body{
    margin: 0;
    background: #195678;
    position: relative;
}

.board-grid {
    width: 65%;
    float: left;
    display: grid;
    grid-template-columns: repeat(15, 60px); /* Alle vakjes zijn 56px breed */
    grid-template-rows: repeat(9, 60px); /* Alle vakjes zijn 56px hoog */
    margin-top: 80px;
    margin-right: 90px;
    justify-content: center;
    align-content: center;
}

img {
    width: 55px;
    height: 55px;
    margin: 2px;
}

.tile {
    margin: 2px;
    position: relative;
}

.yellow {
background-color: #DAB24B;
}

.blue {
background-color: #47A1C8;
}

.red {
background-color: #BA4040;
}

.green {
background-color: #53A65B;
}

.orange {
background-color: #C66732;
}

.purple {
background-color: #A83E8A;
}

.start {
background-color: #000000;
background-size: 60px;
}

.sales {
background-image: url('../images/Mensen.png');
background-size: cover;
}

.chance{
background-image: url('../images/Masker.png');
background-size: cover;
}

.rainbow{
background-image: url('../images/Rainbow.png');
background-size: cover;
}

.megatrends{
background-image: url('../images/Wereld.png');
background-size: cover;
}

.pieceworld{
    background-image: url('../images/WORLD.png');
    background-size: cover;
}
.piecelunar{
    background-image: url('../images/LUNAR.png');
    background-size: cover;
}

.highlight {
    border: 2px solid yellow;
}

img {
width: 55px;
height: 55px;
margin: 2px;
}

.diceImage{
    max-width: 100px;
    margin: 25px;
    border-radius: 8px;
}

.dice-container{
 width: 300px;
 padding: 20px;
 position: fixed;
 top: 70%;
 right: 5%;
 box-shadow: 0 15px 35px rgba(50, 50, 50, 0.15);
 border-radius: 8px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.dice-wrapper{
 width: 90%;
 display: flex;
 justify-content: space-around;
}

.tile img {
 width: 20px;
 height: 20px;
 position: relative;
 z-index: auto;
}

.startpieces {
 width: 20px;
 height: 20px;
 position: relative;
 z-index: auto;
}

path {
 position: relative;
 z-index: auto;
}


label{
    font-family: Itim, Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    font-weight: 500;
}
.questionpopup {
    font-family: Itim, Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 28px;
    height: 300px;
    width: 25%;
    color: white;
    float: left;
    background-color: #9ca3af;
}
.answerpopup{
    font-family: Itim, Arial, Helvetica, sans-serif;
    font-size: 28px;
    position: absolute;
    height: 300px;
    width: 50%;
    color: white;
    float: left;
    bottom: 0;
    background-color: #2e2e2e;
}

.button-container{
    font-family: Itim, Arial, Helvetica, sans-serif;
    height: 700px;
    width: 25%;
    position: absolute;
    color: white;
    float: right;
    background-color: #53A65B;
    display: inline-block
}

.button-submit{

    margin: -20px -50px;
    position:relative;
    top:35%;
    left:-30%;

}

.tile.blink {
    animation: blink-Border 0.6s infinite alternate;
}

@keyframes blink-Border {
    0% {
        border: 3px solid transparent;
    }
    100% {
        border: 3px solid #ffdfba;
    }
}

button {
    background-color: goldenrod;
    border: none;
    outline: none;
    color: black;
    padding: 15px;
    letter-spacing: 1px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    cursor: pointer;
}

#player{
font-family: Arial, Helvetica, sans-serif;
font-size: 36px;
color: white;
margin: 30px 0;
font-weight: 500;
position: absolute;
top: 80%;
left: 4%;
}

button:hover{
    background-color: gold;
}

.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

.playboard-container {
    position: fixed;
    left: 40%;
    top: 25%;
}

.blurred {
    filter: blur(5px);
}

.questionBoxPopup {
    flex-direction: row;
    display: flex;
    position: absolute;
}

.questionOrangeBox .questionWhiteBox {
    flex: 1;
}

.questionWhiteBox {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 5%;
    margin-bottom: 5%;
    left: 10%;
    width: 70%;
    height: 65%;
    min-height: 30%;
    max-height: 70%;
    bottom: 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.questionOrangeBox {
    border: 2px solid white;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    color: black;
    background-color: #C66732;
    position: fixed;
    top: 5%;
    left: 10%;
    width: 35%;
    height: 80%;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.strategyName{
    font-family: 'Itim', Arial, sans-serif;
    font-size: 40px;
    color: white;
}

.questionLabel{
    position: absolute;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 25px;
    color: white;
    left: 10%;
}

.answerPopup {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    color: black;
    position: fixed;
    top: 5%;
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: 10%;
    width: 35%;
    height: 80%;
    z-index: 2;
    border: 2px solid white;
}

.answerInput {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 10%;
    margin-bottom: 5%;
    left: 10%;
    width: 70%;
    height: 60%;
    min-height: 30%;
    max-height: 70%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: 7cm;
    z-index: 1;
}

.submitButton {
    position: absolute;
    bottom: 10px;
    left: 140px;
    right: 140px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.answerText {
    position: absolute;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 25px;
    color: white;
    left: 10%;
}

.popup-blurred {
    filter: none;
}

