@import url("https://fonts.googleapis.com/css2?family=Itim:wght@400;700&display=swap");

.wrapper {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap:1rem;
}

.button {
	border-radius: 10px;
	width: 400px;
	padding: 10px;
	font-size: 60px;
	margin: 10px;
	cursor: pointer;
	background-color: #195678;
	color: #F9E513;
	border-color: antiquewhite;
	font-family: 'Itim', Arial, sans-serif;
}

.button:hover {
	background-color: #3f6072;
	font-weight: bold;
}

.game {
	margin: 50px;
}

.Qbutton {
	font-family: 'Itim', Arial, sans-serif;
	cursor: pointer;
	width: 4vw;
	height: 8vh;
	border-radius: 10%;
	padding: 0;
	font-size: 40px;
	margin-right: 30px;
	background-color: #195678;
	color: #F9E513;
	border-color: white;
	position: absolute;
	top: 0;
	right: 0;
}

.Qbutton:hover {
	background-color: #3f6072;
	font-weight: bold;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.yes {
	font-weight: bold;
	color: white;
}

.flagImg{
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	width: 100px;
	height: 50px;
}

.languages{
	position: absolute;
	bottom: 0;
	right: 0;
}