.audioButton {
    right: -20%;
    margin-top: 2%;
    background-color: #195678;
    border-color: white;
    color: gold;
    border-radius: 10px;
    cursor: pointer;
    width: 2cm;
    height: 2cm;
    text-align: center;
    position: relative;
}

.audioImage {
    width: 90%;
    height: 90%;
}