/*---PLAYER POPUPS---*/
.questionBoxPopup {
    flex-direction: row;
    display: flex;
    position: absolute;
}


.questionWhiteBox {
    font-family: 'Itim', Arial, sans-serif;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 65vh;
    width: 33vw;
    z-index: 999;
    font-size: min(calc(65vh * 0.10), calc(33vw * 0.05));
}

.questionColorBox {
    border: 2px solid white;
    font-family: 'Itim', Arial, sans-serif;
    color: black;
    position: fixed;
    top: 5%;
    left: 8%;
    width: 40vw;
    height: 90vh;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionColorBox.black1{
    background-color: black;
}

.questionColorBox.black2{
    background-color: black;
}

.questionColorBox.black3{
    background-color: black;
}

.strategyName{
    font-family: 'Itim', Arial, sans-serif;
    font-size: 40px;
    color: white;
}

.questionLabel{
    font-family: 'Itim', Arial, sans-serif;
    color: white;
    align-self: flex-start;
    margin-left: calc(7vw/2);
    font-size: min(calc(30vh * 0.10), calc(33vw * 0.05));
}

.answerPopup {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    color: black;
    position: fixed;
    top: 5%;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: 8%;
    width: 40vw;
    height: 90vh;
    z-index: 2;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answerInput {
    font-family: 'Itim', Arial, sans-serif;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    height: 65vh;
    width: 33vw;
    font-size: min(calc(65vh * 0.10), calc(33vw * 0.05));
}

.submitButton {
    background-color: goldenrod;
    border: none;
    outline: none;
    color: black;
    letter-spacing: 1px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 20vw;
    height: 8vh;
    font-size: min(calc(8vh * 0.6), calc(20vw * 0.10));
    margin-top: 8vh;
}

.answerText {
    font-family: 'Itim', Arial, sans-serif;
    color: white;
    align-self: flex-start;
    margin-left: calc(7vw/2);
    font-size: min(calc(30vh * 0.10), calc(33vw * 0.05));
    margin-top: min(calc(30vh * 0.10), calc(33vw * 0.05));
}

.popup-blurred {
    filter: none;
}

.waitingScreenPopup {
    background-color: white;
    color: black;
    position: absolute;
    width: 30%;
    height: 20%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-content: center;
    margin-top: 20%;
    margin-left: 30%;
    z-index: 2;
    bottom: 45%;
 }

.waitingScreenText {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 25px;
}

/*modview popups*/

.scorePopup {
    flex-direction: row;
    display: flex;
    position: absolute;
}

.questionStrategyBox {
    border: 2px solid white;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    color: black;
    background-color: #C66732;
    position: fixed;
    top: 5%;
    left: 10%;
    width: 35%;
    height: 80%;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.strategyName2 {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 40px;
    color: white;
}

.questionLabel2 {
    font-family: 'Itim', Arial, sans-serif;
    font-size: min(calc(30vh * 0.10), calc(33vw * 0.05));
    color: white;
    align-self: flex-start;
    margin-left: calc(7vw/2);
}

.questionWhiteBox2 {
    font-family: 'Itim', Arial, sans-serif;
    text-align: left;
    background-color: white;
    color: black;
    height: 30vh;
    width: 33vw;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    font-size: min(calc(30vh * 0.08), calc(33vw * 0.04));
}

.answerLabel {
    font-family: 'Itim', Arial, sans-serif;
    font-size: min(calc(30vh * 0.10), calc(33vw * 0.05));
    color: white;
    align-self: flex-start;
    margin-left: calc(7vw/2);
    margin-top: min(calc(30vh * 0.10), calc(33vw * 0.05));
}

.questionWhiteBox3 {
    font-family: 'Itim', Arial, sans-serif;
    font-size: min(calc(30vh * 0.10), calc(33vw * 0.05));
    background-color: white;
    color: black;
    height: 30vh;
    width: 33vw;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.assignScoreBox {
    font-family: 'Itim', Arial, sans-serif;
    color: black;
    position: fixed;
    top: 5%;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: 8%;
    width: 40vw;
    height: 90vh;
    z-index: 100;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.correctAnswerText {
    font-family: 'Itim', Arial, sans-serif;
    color: white;
    align-self: flex-start;
    font-size: min(calc(30vh * 0.10), calc(33vw * 0.05));
    margin-left: calc(7vw/2);
    margin-top: 6vw;
}

.correctAnswerBox {
    font-family: 'Itim', Arial, sans-serif;
    background-color: white;
    color: black;
    height: 30vh;
    width: 33vw;
    font-size: min(calc(30vh * 0.10), calc(33vw * 0.05));
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.assignScoreText {
    font-family: 'Itim', Arial, sans-serif;
    color: white;
    font-size: min(calc(30vh * 0.10), calc(33vw * 0.05));
    align-self: flex-start;
    margin-top: min(calc(30vh * 0.10), calc(33vw * 0.05));
    margin-left: calc(7vw/2);
}

.scoreButtons button.points.selected {
    background-color: goldenrod;
    z-index: 999;

}
.points {
    background-color: goldenrod;
    border: none;
    outline: none;
    color: black;
    padding: 15px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 4.125vw;
    width: 4.125vw;
    cursor: pointer;
}

.scoreButtons .points {
    font-family: Itim, Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 100%;
    z-index: 1;
}

.scoreButtons {
    margin: 2vh 0 2vh 0;
    width: 33vw;
    display: flex;
    justify-content: space-evenly;
}

.submitScoreButton{
    background-color: gold;
    border: none;
    outline: none;
    color: black;
    letter-spacing: 1px;
    border-radius: 5px;
    font-family: itim, Helvetica, sans-serif;
    width: 20vw;
    height: 8vh;
    cursor: pointer;
    font-size: min(calc(8vh * 0.60), calc(20vw * 0.15));
    margin-top: 10vh;
}
.submitScoreButton:hover {
    background-color: goldenrod;
}

.popupworld {
    background-image: url('../Assets/TopOfTheWorld.png');
    background-size: cover;
    border-radius: 50%;
    border-color: #2d2f30;
    height: 6vw;
}

.popuplunar {
    background-image: url('../Assets/LUNAR.png');
    background-size: cover;
    border-radius: 50%;
    height: 6vw;
}

.popupdomino {
    background-image: url('../Assets/DominoHouse.png');
    background-size: cover;
    border-radius: 50%;
    height: 6vw;
}

.popupsafeline {
    background-image: url('../Assets/SAFELINE.png');
    background-size: cover;
    border-radius: 50%;
    height: 6vw;
}

.popupjysk {
    background-image: url('../Assets/JYSKTelepartner.png');
    background-size: cover;
    border-radius: 50%;
    height: 6vw;
}

.popupklaphatten {
    background-image: url('../Assets/Klaphatten.png');
    background-size: cover;
    border-radius: 50%;
    height: 6vw;
}
