/*---PLAYER POPUPS---*/

.questionBoxPopup {
    flex-direction: row;
    display: flex;
    position: absolute;
}

.questionColorBox .questionWhiteBox {
    flex: 1;
}


.questionWhiteBox {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 5%;
    margin-bottom: 5%;
    left: 10%;
    width: 70%;
    height: 65%;
    min-height: 30%;
    max-height: 70%;
    bottom: 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.questionColorBox {
    border: 2px solid white;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    color: black;
    position: fixed;
    top: 5%;
    left: 10%;
    width: 35%;
    height: 80%;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.questionColorBox.black1{
    background-color: black;
}

.questionColorBox.black2{
    background-color: black;
}

.questionColorBox.black3{
    background-color: black;
}

.strategyName{
    font-family: 'Itim', Arial, sans-serif;
    font-size: 40px;
    color: white;
}

.questionLabel{
    position: absolute;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 25px;
    color: white;
    left: 10%;
    margin-top: -3%;
}

.answerPopup {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    color: black;
    position: fixed;
    top: 5%;
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: 10%;
    width: 35%;
    height: 80%;
    z-index: 2;
    border: 2px solid white;
}

.answerInput {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 10%;
    margin-bottom: 5%;
    left: 10%;
    width: 70%;
    height: 65%;
    min-height: 30%;
    max-height: 70%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: 7cm;
    z-index: 1;
    resize: none;
}

.submitButton {
    position: absolute;
    bottom: 10px;
    left: 140px;
    right: 140px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.answerText {
    position: absolute;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 25px;
    color: white;
    left: 10%;
    margin-top: 2%;
}

.popup-blurred {
    filter: none;
}

.waitingScreenPopup {
    background-color: white;
    color: black;
    position: absolute;
    width: 30%;
    height: 20%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-content: center;
    margin-top: 20%;
    margin-left: 35%;
    z-index: 2;
}

.waitingScreenText {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 25px;
}

/*modview popups*/

.scorePopup {
    flex-direction: row;
    display: flex;
    position: absolute;
}

.questionStrategyBox {
    border: 2px solid white;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    color: black;
    background-color: #C66732;
    position: fixed;
    top: 5%;
    left: 10%;
    width: 35%;
    height: 80%;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.strategyName2 {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 40px;
    color: white;
}

.questionLabel2 {
    position: absolute;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 25px;
    color: white;
    left: 10%;
    margin-top: 0%;
}

.questionWhiteBox2 {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    position: absolute;
    margin-bottom: 50%;
    left: 10%;
    width: 70%;
    height: 65%;
    min-height: 30%;
    max-height: 30%;
    bottom: 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.answerLabel {
    position: absolute;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 25px;
    color: white;
    left: 10%;
    margin-top: 50%;
}

.questionWhiteBox3 {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    position: absolute;
    margin-bottom: 2%;
    left: 10%;
    width: 70%;
    height: 65%;
    min-height: 30%;
    max-height: 30%;
    bottom: 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.assignScoreBox {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    color: black;
    position: fixed;
    top: 5%;
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: 10%;
    width: 35%;
    height: 80%;
    z-index: 2;
    border: 2px solid white;
}

.correctAnswerText {
    position: absolute;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 25px;
    color: white;
    left: 10%;
    margin-top: 0%;
}

.correctAnswerBox {
    font-family: 'Itim', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    position: absolute;
    margin-bottom: 60%;
    left: 10%;
    width: 70%;
    height: 65%;
    min-height: 30%;
    max-height: 30%;
    bottom: 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.assignScoreText {
    position: absolute;
    font-family: 'Itim', Arial, sans-serif;
    font-size: 25px;
    color: white;
    left: 10%;
    margin-top: 60%;
}

.scoreButtons button.points.selected {
    background-color: goldenrod;
    z-index: 999;
}

.scoreButtons button.points {
    margin-top: 73%;
    font-family: Itim, Arial, Helvetica, sans-serif;
    margin-right: 5%;
    background-color: white;
    border-radius: 50%;
    width: 9%;
    z-index: 1;
}

.submitScoreButton{     /*overwritten by 'button'*/
    position: absolute;
    bottom: 10px;
    left: 140px;
    right: 140px;
    margin-bottom: 17%;
}

