.joinscreen-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.input, select{
    position: absolute;
    left: 50%;
    font-size: 36px;
    font-family: itim;
    border-radius: 10px;
    border: 3px solid white;
    width: 400px;
    margin-left: 1%;
}

select{
    width: 410px;
    cursor: pointer;
}

.gamepin{
    margin-top: 8%;
}

label{
    position: absolute;
    left: 600px;
    font-size: 48px;
}

.startgame{
    border: 3px solid white;
    background-color: #195678;
    width: 40%;
    height: 8%;
    line-height: 35px;
    color: #F9E513;
    border-radius: 10px;
    font-size: 75%;
    font-family: itim;
    bottom: 30%;
    cursor: pointer;
    position: absolute;
}

.startgame:hover{
    background-color: #3f6072;
    font-weight: bold;
}

.dropyellow{
    color:#DAB24B
}
.dropblue{
    color:#47A1C8
}
.dropred{
    color:#BA4040   
}
.dropgreen{
    color:#53A65B
}
.droporange{
    color:#C66732
}
.droppurple{
    color:#A83E8A
}